@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.contenedor-header{
    background: #BAA896;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}

.contenedor-header header ul{
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #D13525;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #e38b75;
}

.nav-responsive{
    margin-left: auto;
    background-color: #e38b75;
    color: #E6CCB5;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}
.inicio{
    background: linear-gradient(to top, rgba(230, 138, 78, 0.8), rgba(93,80,112,1)),
     url("imagenes/devweb.png");
    background-size: cover;
    height: 100vh;
    color: #E6CCB5;
    display: flex;
    align-items: center;
    


}

.inicio .contenido-banner{
    padding: 10px;
    background-color: #413546;
    max-width: 250px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 90px;
    border: 5px solid #e38b75;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Work Sans';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #F2C057;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #F2C057;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #D13525;
}

.sobre-mi{
    background-color: #BAA896;
    color: #E6CCB5;
    padding: 50px 20px;

}

.sobre-mi .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.sobre-mi h2{
    font-size: 48px;
    font-family: 'Work Sans';
    text-align: center;
    padding: 20px 0;
    color: #D13525;

}

.sobre-mi .contenido-seccion p{
    font: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #D13525;
}

.sobre-mi .contenido-seccion p span{
    color: #D13525;
    font-weight: bold;
}

.sobre-mi .fila{
    display: flex;

}

.sobre-mi .fila .col h3{
    font-size: 28px;
    color: #D13525;
    font-family: 'work sans';
    margin-bottom: 25px;

}

.sobre-mi .fila .col ul{
    list-style: none;
    color: #D13525;
}

.sobre-mi .fila .col ul li{
    margin: 12px 0;
}

.sobre-mi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #D13525;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #D13525;
    position: relative;
    z-index: 10;
}

.sobre-mi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #413546;
    z-index: -1;
    transition: 1s;
}

.sobre-mi button:hover .overlay{
    width: 100%;

}

/*seccion skills*/
.skills h3{
    padding: 110px 10px;
    background-color: #BAA896;
    color: #D13525;
    font-size: 48px;
    text-align: center;
}
.skills .fila{
    background-color: #BAA896;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    justify-content: center;

}

.skills .fila .item{
    padding: 70px 10px;
    justify-content: center;
}

.skills .fila .item .contenedor-icono{
    width: 75px;
    height: 75px;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #D13525;
    border: 1px solid #D13525;
    position: relative;
    transition: .3s;
    bottom: 0;
    cursor: pointer;

}

.skills .fila .item .contenedor-icono:hover{
    bottom: 20px;
}

.formacion{
    background-color: #9c8e7f;
    color:#D13525;
    padding: 50px 20px;
}

.formacion .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.formacion h2{
    font-size: 48px;
    font-family: 'work sans';
    text-align: center;
    padding: 20px 0;
}
.formacion .fila{
    display: flex;
    justify-content: space-between;
}
.formacion .fila .col{
    width: 49%;
    padding: 0 20px;
}

.formacion .fila .item{
  padding: 25px;
  margin-bottom: 30px;
  position: relative;
}
.formacion .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.formacion .fila .item .casa{
    color: #D13525;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.formacion .fila .item .fecha{
    display: block;
    color: #D13525;
    margin-bottom: 10px;
}
footer{
    background-color: #413546;
    color: #9c8e7f;
    padding: 50px 0 30px 0;
    position: relative;
    width: 100%;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    color: #D13525;
    position: absolute;
    left: 50%;
    top: -35px;
    line-height: 50px;
    font-size: 30px;
}

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #9c8e7f;
        width: 180px;

    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #F2C057;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){
    .sobre-mi .fila{
        display: block;
    }
    .sobre-mi .fila .col{
        width: fit-content;
    }
    .skills .fila{
        display: block;
    }
    .skills .fila .item{
        width: 100%;
    }
    .formacion .fila{
        display: block;
    }
    .formacion .fila .col{
        width: 90%;
    }
}